/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3b3b98;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
}

.card {
    background-color: #23235b;
    box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 350px;
    max-width: 100%;
}

h1 {
    text-align: center;
    margin: 10px 0 20px;
}

/* Contenedor del resultado */
.result-container {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 12px 10px;
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
}

.result-container .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

/* Botones */
.btn {
    border: none;
    background-color: #3b3b98;
    color: #fff;
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-large {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.btn:hover {
    background-color: #2b2b88;
}

/* Ajustes de configuración */
.setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 16px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    /* Hace los checkboxes más grandes */
    cursor: pointer;
}